
img{
    width: 400px;
    height: 420px;
    padding-left: 4cm;
    padding-top: 2cm;
    border-radius: #dedaff 10px;
    
    }
    
h1{
    color: #030107;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(119, 169, 255);
    padding: 30px;
    text-align: center;
    font-size: 1cm;
   
}
a{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
.padre1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .titulo { grid-area: 1 / 1 / 2 / 6; 
    background-color: rgb( 119, 169, 255);}
    .info2 { grid-area: 2 / 1 / 4 / 3;
    background-color: rgb(245, 248, 247);}
    .foto3 { grid-area: 2 / 3 / 4 / 6;
    background-color: rgb(55, 101, 255); }
    .resto4 { grid-area: 4 / 1 / 6 / 6; 
    background-color: #ffffff;
    text-align: center;}